<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>

    <!--???????UserDAO?????UserDAOImpl-->
    <bean id="user" class="com.myself.impl.UserDAOImpl"/>

    <bean id="userService" class="com.myself.service.UserService">
            <!--??bean????userDAO???userBean-->
            <property name="userDAO" bean="user"/>
    </bean>

</beans>